<div class="card">
    <app-navbar></app-navbar>
    <div class="pt-2">
        <p-table
            responsiveLayout="stack"
            scrollHeight="flex"
            [value]="teams"
            [tableStyle]="{ 'min-width': '15rem' }"
            styleClass="p-datatable-gridlines border-1 surface-border border-round"
        >
            <ng-template pTemplate="caption">
                <div class="flex">
                    <button
                        pButton
                        label="Clear"
                        class="p-button-outlined"
                        icon="pi pi-filter-slash"
                        (click)="resetFilter()"
                    ></button>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input
                            [(ngModel)]="filterTerm"
                            pInputText
                            type="text"
                            (input)="applyFilter()"
                            placeholder="Search keyword"
                            pTooltip="Cerca tramite qualsiasi parola chiave della tabella"
                            tooltipPosition="left"
                        />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>{{ "TABLENBA-SHORTNAME" | translate }}</th>
                    <th>{{ "TABLENBA-FULLNAME" | translate }}</th>
                    <th>Conference</th>
                    <th>Division</th>
                    <th>{{ "TABLENBA-FAV" | translate }}</th>
                </tr>
            </ng-template>
            <ng-template
                pTemplate="body"
                let-team
                let-rowData="rowData"
                sortMode="multiple"
            >
                <tr
                    class="transition-colors transition-duration-500 bg-none hover:bg-primary"
                >
                    <td>
                        <span class="p-column-title">
                            {{ "TABLENBA-SHORTNAME" | translate }}
                        </span>
                        {{ team.abbreviation }}
                    </td>
                    <td>
                        <span class="p-column-title">
                            {{ "TABLENBA-FULLNAME" | translate }}
                        </span>
                        {{ team.full_name }}
                    </td>
                    <td>
                        <span class="p-column-title"> Conference </span>
                        {{ team.conference }}
                    </td>
                    <td>
                        <span class="p-column-title"> Division </span>
                        {{ team.division }}
                    </td>
                    <td>
                        <span class="p-column-title">
                            {{ "TABLENBA-FAV" | translate }}
                        </span>

                        <i
                            [style]="{ color: 'orange' }"
                            [text]="true"
                            (click)="toggleFavorite(team)"
                            [class]="
                                team.favorite ? 'pi pi-star-fill' : 'pi pi-star'
                            "
                        ></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
