<div class="card">
    <div class="text-6xl text-primary font-bold mb-3 text-center">ANIME</div>
    <div class="flex align-item-center justify-content-center mb-3">
        <p-inputGroup>
            <input
                type="text"
                pInputText
                placeholder="Scrivi il titolo di un Anime"
                id="searchInput"
                [(ngModel)]="search"
                pAutoFocus
                [autofocus]="true"
            />
            <button
                type="button"
                pButton
                icon="pi pi-search"
                (click)="searchAnime()"
            ></button>
        </p-inputGroup>
    </div>

    <p-table
        [value]="animeList"
        [tableStyle]="{ 'min-width': '60rem' }"
        *ngIf="animeList.length"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Results
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Title Japanese</th>
                <th>Episodes</th>
                <th>Rating</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-anime>
            <tr
                (click)="animeDetail(anime.id)"
                style="cursor: pointer"
                class="transition-colors transition-duration-500 bg-none hover:bg-primary"
            >
                <td>
                    <img
                        [src]="anime.images.jpg.small_image_url"
                        width="50"
                        class="shadow-4"
                    />
                </td>
                <td>{{ anime.title }}</td>
                <td>{{ anime.title_japanese }}</td>
                <td>{{ anime.episodes }}</td>
                <td>{{ anime.score }}</td>
            </tr>
        </ng-template>
    </p-table>
    <p-scrollTop
        target="window"
        styleClass="custom-scrolltop"
        [threshold]="100"
        icon="pi pi-arrow-up"
    ></p-scrollTop>
    <div
        class="flex align-items-center justify-content-center fadeindown animation-duration-1000"
    >
        <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
            <ul
                class="list-none p-0 m-0 flex align-items-center font-medium mb-3"
            >
                <li>
                    <a
                        class="text-500 no-underline line-height-3 cursor-pointer"
                        >Anime</a
                    >
                </li>
                <li class="px-2">
                    <i class="pi pi-angle-right text-500 line-height-3"></i>
                </li>
                <li>
                    <span class="text-900 line-height-3">Analytics</span>
                </li>
            </ul>
            <div
                class="flex align-items-start flex-column lg:justify-content-between lg:flex-row"
            >
                <div>
                    <div class="font-medium text-3xl text-900 text-center">
                        Watchers
                    </div>
                    <div class="flex align-items-center text-700 flex-wrap">
                        <div class="mr-5 flex align-items-center mt-3">
                            <i class="pi pi-users mr-2"></i>
                            <span>332 Active Users</span>
                        </div>
                        <div class="mr-5 flex align-items-center mt-3">
                            <i class="pi pi-globe mr-2"></i>
                            <span>9402 Sessions</span>
                        </div>
                        <div class="flex align-items-center mt-3">
                            <i class="pi pi-clock mr-2"></i>
                            <span>2.32m Avg. Duration</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex align-items-center justify-content-center mt-8">
        <div>
            <img
                style="width: 100px"
                src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/0db12a70971545.5bb5200aa97fe.gif"
                alt=""
            />
        </div>
        <div>
            <img
                style="width: 100px"
                src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/c2f58970971545.5bb5200aa8589.gif"
                alt=""
            />
        </div>
        <div>
            <img
                style="width: 100px"
                src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/fde25170971545.5bb5200aa934d.gif"
                alt=""
            />
        </div>
        <div>
            <img
                style="width: 100px"
                src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/6ccd2d70971545.5bb5200aaa3ad.gif"
                alt=""
            />
        </div>
        <div>
            <img
                style="width: 100px"
                src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/122ffc70971545.5bb5200aa8c48.gif"
                alt=""
            />
        </div>
    </div>
</div>
