<div>
    <form [formGroup]="todoForm" (ngSubmit)="addTodo()">
        <label for="username" class="block text-900 font-medium mb-2"
            >Titolo</label
        >
        <input
            type="text"
            id="floatingInput"
            placeholder="Inserisci un titolo"
            formControlName="title"
            pInputText
            class="w-full mb-3"
            required
            pAutoFocus
            [autofocus]="true"
        />

        <label for="password1" class="block text-900 font-medium mb-2"
            >Descrizione</label
        >
        <input
            type="text"
            placeholder="Lascia una descrizione"
            id="floatingTextarea"
            formControlName="description"
            pInputText
            class="w-full mb-3"
            required
        />
        <p-button type="submit" label="Aggiungi"></p-button>
    </form>
</div>
