<div class="card">
    <div class="text-6xl text-primary font-bold mb-3 text-center">TASK</div>
    <p-button
        (click)="logoutUser()"
        severity="danger"
        label="Logout"
    ></p-button>
    <div class="my-3 text-center">
        <button pButton (click)="openFormTaskModal()" label="Add Task"></button>
    </div>

    <div class="my-5">
        <p-table
            responsiveLayout="stack"
            scrollHeight="flex"
            [value]="(todoList$ | async).todo"
            [tableStyle]="{ 'min-width': '15rem' }"
        >
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    {{ "TABLECOMPLETE" | translate }}
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>{{ "TABLETITLE" | translate }}</th>
                    <th>{{ "TABLEDESCR" | translate }}</th>
                    <th>{{ "TABLESTATUS" | translate }}</th>
                </tr>
            </ng-template>
            <ng-template
                pTemplate="body"
                let-todo
                let-rowData="rowData"
                sortMode="multiple"
            >
                <tr style="cursor: pointer">
                    <td>
                        <span class="p-column-title"> # </span>

                        <i
                            class="pi pi-check-circle"
                            style="font-size: 1.5rem"
                        ></i>
                    </td>
                    <td>
                        <span class="p-column-title">
                            {{ "TABLETITLE" | translate }}
                        </span>
                        {{ todo.title }}
                    </td>
                    <td>
                        <span class="p-column-title">
                            {{ "TABLEDESCR" | translate }}
                        </span>
                        {{ todo.description }}
                    </td>
                    <td>
                        <span class="p-column-title">
                            {{ "TABLESTATUS" | translate }}
                        </span>

                        <!-- {{todo.status}} -->
                        <div>
                            <span>
                                <strong>{{ todo.status }}</strong>
                            </span>
                            <div class="my-2 ml-2">
                                <p-button
                                    *ngFor="let type of typeTodoStatus"
                                    severity="success"
                                    (click)="changeStatus(type, todo.id)"
                                    label="{{ type }}"
                                >
                                </p-button>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div>
        <p-table
            responsiveLayout="stack"
            scrollHeight="flex"
            [value]="(todoList$ | async).notTodo"
            [tableStyle]="{ 'min-width': '15rem' }"
        >
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    {{ "TABLETODO" | translate }}
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>{{ "TABLETITLE" | translate }}</th>
                    <th>{{ "TABLEDESCR" | translate }}</th>
                    <th>{{ "TABLESTATUS" | translate }}</th>
                </tr>
            </ng-template>
            <ng-template
                pTemplate="body"
                let-todo
                let-rowData="rowData"
                sortMode="multiple"
            >
                <tr style="cursor: pointer">
                    <td>
                        <span class="p-column-title"> # </span>

                        <i class="pi pi-circle" style="font-size: 1.5rem"></i>
                    </td>
                    <td>
                        <span class="p-column-title">
                            {{ "TABLETITLE" | translate }}
                        </span>
                        {{ todo.title }}
                    </td>
                    <td>
                        <span class="p-column-title">
                            {{ "TABLEDESCR" | translate }}
                        </span>
                        {{ todo.description }}
                    </td>
                    <td>
                        <span class="p-column-title">
                            {{ "TABLESTATUS" | translate }}
                        </span>

                        <!-- {{todo.status}} -->
                        <div class="inline-block">
                            <span>
                                <strong>{{ todo.status }}</strong>
                            </span>
                            <div class="my-2 ml-2">
                                <p-button
                                    severity="secondary"
                                    *ngFor="let type of typeTodoStatus"
                                    (click)="changeStatus(type, todo.id)"
                                    label="{{ type }}"
                                >
                                </p-button>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
