<div class="card">
    <div class="text-6xl text-primary font-bold mb-3 text-center">LIBRERIA</div>

    <div class="flex gap-6 flex-wrap align-items-center justify-content-center">
        <div
            *ngFor="let book of books"
            class="zoominup animation-duration-1000"
        >
            <p-card [style]="{ width: '22rem' }">
                <div class="flex">
                    <div>
                        <img
                            alt="{{ book.title }}"
                            [src]="book.imageUrl"
                            style="width: 60px"
                        />
                    </div>
                    <div class="ml-7">
                        <h3>{{ book.title }}</h3>
                        <p>
                            <strong>{{ book.author }}</strong
                            ><small>({{ book.publicationYear }})</small>
                        </p>
                        <p><strong>Trama:</strong></p>
                        <p>
                            {{ book.synopsis }}
                        </p>
                    </div>
                </div>
            </p-card>
        </div>
    </div>

    <div class="text-center mt-3">
        <p-button
            label="Dona un libro"
            [rounded]="true"
            (click)="goToLibrary()"
        ></p-button>
    </div>
</div>
