<div class="card">
    <div class="text-6xl text-primary font-bold mb-3 text-center">
        {{ "TITLE-LIBRARY" | translate }}
    </div>

    <div class="flex gap-6 flex-wrap align-items-center justify-content-center">
        <div
            *ngFor="let book of books"
            class="zoominup animation-duration-1000 animation-ease-in-out"
        >
            <div [style]="{ width: '22rem' }" class="card shadow-6">
                <div class="flex">
                    <div>
                        <img
                            alt="{{ book.title }}"
                            [src]="book.imageUrl"
                            style="width: 60px"
                        />
                    </div>
                    <div class="ml-7">
                        <h3 class="text-primary">{{ book.title }}</h3>
                        <p>
                            <strong>{{ book.author }}</strong
                            ><small>({{ book.publicationYear }})</small>
                        </p>
                        <p><strong>Plot:</strong></p>
                        <p>
                            {{ book.synopsis }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-3">
        <p-button
            label="Donate a book"
            [rounded]="true"
            (click)="goToLibrary()"
        ></p-button>
    </div>
    <p-scrollTop
        target="window"
        styleClass="custom-scrolltop"
        [threshold]="100"
        icon="pi pi-arrow-up"
    ></p-scrollTop>
</div>
