<div class="grid grid-nogutter surface-section text-800">
    <div
        class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
    >
        <section>
            <span
                class="block text-6xl font-bold mb-1 fadeinup animation-duration-1000"
                >Marco Valerio Torriero</span
            >
            <div
                class="text-6xl text-primary font-bold mb-3 fadeinup animation-duration-1000"
            >
                Front-End Web Developer
            </div>
            <p
                class="mt-0 mb-4 text-700 line-height-3 fadein animation-duration-1000"
            >
                Ciao a tutti sono MVT, un giovane appassionato di coding e da
                poco ho abbracciato il ruolo di Front-end Web Developer
                specializzato in Angular grazie al corso della 24ORE Business
                School. <br />
                Nel mio portfolio potrai scoprire i progetti su cui ho lavorato.
                Non vedo l'ora di condividere con voi la mia passione per il
                mondo dello sviluppo web. Grazie per essere qui e buona
                esplorazione!
            </p>

            <button
                pButton
                pRipple
                label="Contatti"
                type="button"
                class="mr-3 p-button-raised fadein animation-duration-1000"
            ></button>
            <button
                pButton
                pRipple
                label="Live CV"
                type="button"
                class="p-button-outlined fadein animation-duration-1000"
            ></button>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img
            src="https://bs-uploads.toptal.io/blackfish-uploads/components/blog_post_page/content/cover_image_file/cover_image/1284735/retina_500x200_op-Ten-Front-End-Design-Rules-For-Developers_Luke-Newsletter-d3a7d3e7430ee224cab75104f11342a0.png"
            alt="Image"
            class="md:ml-auto block md:h-full fadeinright animation-duration-1000"
            style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
        />
    </div>
</div>
<div class="surface-section px-4 py-5 md:px-6 lg:px-8 text-center">
    <div class="mb-5 font-bold text-3xl fadein animation-duration-1000">
        <span class="text-900">Skill </span>
        <span class="text-blue-600">principali</span>
    </div>
    <div class="grid zoomin animation-duration-1000">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span
                class="p-3 shadow-2 mb-3 inline-block surface-card"
                style="border-radius: 10px"
            >
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">
                Built for Developers
            </div>
            <span class="text-700 line-height-3"
                >Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.</span
            >
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span
                class="p-3 shadow-2 mb-3 inline-block surface-card"
                style="border-radius: 10px"
            >
                <i class="pi pi-lock text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">
                End-to-End Encryption
            </div>
            <span class="text-700 line-height-3"
                >Risus nec feugiat in fermentum posuere urna nec. Posuere
                sollicitudin aliquam ultrices sagittis.</span
            >
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span
                class="p-3 shadow-2 mb-3 inline-block surface-card"
                style="border-radius: 10px"
            >
                <i class="pi pi-check-circle text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Easy to Use</div>
            <span class="text-700 line-height-3"
                >Ornare suspendisse sed nisi lacus sed viverra tellus. Neque
                volutpat ac tincidunt vitae semper.</span
            >
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span
                class="p-3 shadow-2 mb-3 inline-block surface-card"
                style="border-radius: 10px"
            >
                <i class="pi pi-globe text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">
                Fast & Global Support
            </div>
            <span class="text-700 line-height-3"
                >Fermentum et sollicitudin ac orci phasellus egestas tellus
                rutrum tellus.</span
            >
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span
                class="p-3 shadow-2 mb-3 inline-block surface-card"
                style="border-radius: 10px"
            >
                <i class="pi pi-github text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Open Source</div>
            <span class="text-700 line-height-3"
                >Nec tincidunt praesent semper feugiat. Sed adipiscing diam
                donec adipiscing tristique risus nec feugiat.
            </span>
        </div>
        <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span
                class="p-3 shadow-2 mb-3 inline-block surface-card"
                style="border-radius: 10px"
            >
                <i class="pi pi-shield text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">
                Trusted Securitty
            </div>
            <span class="text-700 line-height-3"
                >Mattis rhoncus urna neque viverra justo nec ultrices. Id cursus
                metus aliquam eleifend.</span
            >
        </div>
    </div>
</div>
