<div class="card p-0 m-0 overflow-hidden" [ngClass]="colorScheme">
    <div class="grid grid-nogutter text-800" id="container">
        <div
            class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
        >
            <section class="overflow-hidden">
                <div
                    class="block text-6xl font-bold mb-1 fadeinup animation-duration-1000"
                >
                    Marco Valerio Torriero
                </div>
                <div
                    class="text-6xl text-primary font-bold mb-3 fadeinup animation-duration-1000"
                >
                    Front-End Web Developer
                </div>
                <p
                    class="mt-0 mb-4 text-700 line-height-3 fadein animation-duration-1000 text-justify"
                >
                    {{ "ABOUTME" | translate }}
                </p>

                <button
                    pButton
                    pRipple
                    label="Info"
                    type="button"
                    class="mr-3 ml-1 p-button-raised fadeindown animation-duration-1000"
                    (click)="showInfo()"
                ></button>
                <p-dialog
                    header="Info"
                    [(visible)]="visibleInfo"
                    [style]="{ width: '30rem' }"
                >
                    <div>
                        <p>
                            <strong>{{ "BIRTHANDWHERE" | translate }} </strong>
                            Roma, 23/01/1999
                        </p>
                        <p-divider></p-divider>
                        <p>
                            <strong>{{ "RESIDENCE" | translate }} </strong> Via
                            Nicolò Paganini 4, Cerveteri (Roma)
                        </p>
                        <p-divider></p-divider>
                        <p>
                            <strong>Email: </strong
                            ><a href="mailto:{{ email }}">{{ email }}</a>
                        </p>
                        <p-divider></p-divider>
                        <p>
                            <strong>{{ "PHONE" | translate }} </strong> 349 709
                            0707
                        </p>
                        <p-divider></p-divider>
                        <p>
                            <strong>LinkedIn: </strong>
                            <a href="https://t.ly/-Cz7C" target="_blank"
                                >Marco Valerio Torriero</a
                            >
                        </p>
                    </div>
                </p-dialog>
                <button
                    pButton
                    pRipple
                    label="CV"
                    type="button"
                    class="p-button-rounded fadeindown animation-duration-1000"
                    (click)="showCv()"
                ></button>
                <p-dialog
                    header="CV"
                    [(visible)]="visibleCv"
                    [style]="{ width: '60rem' }"
                >
                    <div class="flex align-item-center justify-content-center">
                        <pdf-viewer
                            style="width: 100%; height: 60vh"
                            [src]="cvSource"
                            alt=""
                        />
                    </div>
                </p-dialog>
                <br />
                <button
                    pButton
                    pRipple
                    label="Figma App"
                    type="button"
                    class="mt-3 ml-2 mb-2 p-button-raised p-button-text fadeindown animation-duration-1000"
                    (click)="showFigma()"
                ></button>
                <p-dialog
                    header="Figma"
                    [(visible)]="visibleFigma"
                    [style]="{ width: '25rem' }"
                >
                    <div class="flex align-item-center justify-content-center">
                        <video
                            muted
                            controls
                            src="assets/Figma App.mp4"
                            style="width: 100%"
                        ></video>
                    </div>
                </p-dialog>
            </section>
        </div>
        <div
            class="col-12 md:col-6 p-6 overflow-hidden border-round fadeinright animation-duration-1000"
        >
            <div class="p-grid">
                <div class="p-col-12">
                    <h5
                        class="text-center block text-5xl font-bold mb-1 text-primary"
                    >
                        {{ "INTRO" | translate }}
                    </h5>
                    <p class="text-justify pt-3">
                        {{ "DESCRINTR" | translate }}
                    </p>
                    <p-carousel
                        [value]="icons"
                        [numVisible]="1"
                        [numScroll]="1"
                        style="margin-top: 20px"
                        [circular]="true"
                        autoplayInterval="4000"
                    >
                        <ng-template let-icon pTemplate="item">
                            <div
                                class="icon-container pt-6"
                                (click)="onIconClick(icon)"
                            >
                                <i
                                    [class]="icon.icon"
                                    class="text-primary cursor-pointer"
                                ></i>
                                <div class="cursor-pointer pt-2">
                                    {{ icon.label }}
                                </div>
                                <div class="pt-6">
                                    {{ icon.description }}
                                </div>
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
            </div>
        </div>
    </div>
    <div class="px-4 py-6 md:px-6 lg:px-8 text-center" id="container2">
        <div class="mb-5 font-bold text-3xl fadein animation-duration-1000">
            <span class="text-900">{{ "SKILL" | translate }} </span>
            <span class="text-primary-600">{{ "MAIN" | translate }}</span>
        </div>
        <div class="grid fadein animation-duration-1000">
            <div class="col-12 md:col-4 mb-4 px-5">
                <span
                    class="p-3 shadow-2 mb-3 inline-block surface-card"
                    style="border-radius: 10px"
                >
                    <i class="pi pi-shield text-4xl text-primary-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">Angular</div>
                <span class="text-700 line-height-3">{{
                    "ANGULAR" | translate
                }}</span>
            </div>
            <div class="col-12 md:col-4 mb-4 px-5">
                <span
                    class="p-3 shadow-2 mb-3 inline-block surface-card"
                    style="border-radius: 10px"
                >
                    <i class="pi pi-github text-4xl text-primary-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">Git-Hub</div>
                <span class="text-700 line-height-3">{{
                    "GITHUB" | translate
                }}</span>
            </div>
            <div class="col-12 md:col-4 mb-4 px-5">
                <span
                    class="p-3 shadow-2 mb-3 inline-block surface-card"
                    style="border-radius: 10px"
                >
                    <i class="pi pi-desktop text-4xl text-primary-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">
                    UX/UI Design
                </div>
                <span class="text-700 line-height-3">{{
                    "UX/UI" | translate
                }}</span>
            </div>
            <div class="col-12 md:col-4 mb-4 px-5">
                <span
                    class="p-3 shadow-2 mb-3 inline-block surface-card"
                    style="border-radius: 10px"
                >
                    <i class="pi pi-globe text-4xl text-primary-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">
                    Web Development
                </div>
                <span class="text-700 line-height-3">{{
                    "WEBDEV" | translate
                }}</span>
            </div>
            <div class="col-12 md:col-4 mb-4 px-5">
                <span
                    class="p-3 shadow-2 mb-3 inline-block surface-card"
                    style="border-radius: 10px"
                >
                    <i class="pi pi-palette text-4xl text-primary-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">CSS</div>
                <span class="text-700 line-height-3"
                    >{{ "CSS" | translate }}
                </span>
            </div>
            <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
                <span
                    class="p-3 shadow-2 mb-3 inline-block surface-card"
                    style="border-radius: 10px"
                >
                    <i class="pi pi-server text-4xl text-primary-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">
                    {{ "TITLELIB" | translate }}
                </div>
                <span class="text-700 line-height-3">{{
                    "LIBRARIES" | translate
                }}</span>
            </div>
        </div>
    </div>
</div>
