span:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.icon-container {
    text-align: center;
}

.icon-container i {
    font-size: 2em;
}

@media (max-width: 600px) {
    .carosello {
        padding-top: 180px;
        padding-bottom: 200px;
    }
}
