<div class="card">
    <div class="text-6xl text-primary font-bold mb-3 text-center">Imdb</div>

    <div class="flex align-item-center justify-content-center">
        <div style="width: 50rem">
            <span class="p-float-label p-fluid">
                <p-autoComplete
                    inputId="float-label"
                    field="#TITLE"
                    [(ngModel)]="searchInput"
                    [suggestions]="searchResults"
                    (completeMethod)="searchMovies()"
                    pTooltip="The movie you select will appear at the bottom of the page"
                    tooltipPosition="left"
                >
                    <ng-template let-movie pTemplate="item">
                        <div
                            class="flex align-items-center gap-2"
                            (click)="selectMovie(movie['#IMDB_ID'])"
                        >
                            <div>
                                <strong>Film: </strong>{{ movie["#TITLE"] }} -
                                <strong>Year: </strong>{{ movie["#YEAR"] }}
                            </div>
                        </div>
                    </ng-template></p-autoComplete
                >
                <label for="float-label">{{
                    "LBLSEARCH-IMDB" | translate
                }}</label>
            </span>
        </div>
    </div>

    <p-carousel
        [value]="exampleMovies"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="true"
        autoplayInterval="3000"
    >
        <ng-template let-movie pTemplate="item">
            <div
                class="border-1 surface-border border-round m-2 text-center py-5 px-3"
            >
                <div class="mb-3">
                    <img
                        [src]="movie.image"
                        class="w-3 shadow-4 border-round"
                    />
                </div>
                <div>
                    <h4 class="mb-1 text-primary">{{ movie.title }}</h4>
                    <h6 class="mt-0 mb-3">{{ movie.year }}</h6>
                </div>
            </div>
        </ng-template>
    </p-carousel>

    <div
        *ngIf="selectedMovie"
        class="card mt-2 shadow-6 zoomindown animation-duration-1000 animation-ease-in-out"
    >
        <div class="flex flex-wrap align-items-center justify-content-center">
            <div>
                <img
                    style="max-width: 250px"
                    [src]="selectedMovie.image"
                    alt="{{ selectedMovie.title }}"
                    class="shadow-6 border-round"
                />
            </div>
            <div class="pl-3">
                <div>
                    <h2 class="text-primary pt-2">{{ selectedMovie.title }}</h2>
                    <p>
                        <small
                            ><strong>Year:</strong>
                            {{ selectedMovie.year }}</small
                        >
                    </p>
                    <p>
                        <small
                            ><strong>Contents:</strong> <br />{{
                                selectedMovie.keywords
                            }}</small
                        >
                    </p>
                    <p>
                        <strong>Genres:</strong> <br />
                        {{ selectedMovie.genre }}
                    </p>
                    <p>
                        <strong>Plot:</strong> <br />
                        {{ selectedMovie.description }}
                    </p>
                    <div class="mt-6">
                        <strong class="flex justify-content-center"
                            >Rate:</strong
                        >
                        <br />
                        <div class="flex justify-content-center">
                            <p-rating [(ngModel)]="value"></p-rating>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p-scrollTop
            target="window"
            styleClass="custom-scrolltop"
            [threshold]="100"
            icon="pi pi-arrow-up"
        ></p-scrollTop>
    </div>
</div>
